.idea
*.iws
*.iml
*.ipr
.gradle
.mvn
gradle
src
/build/classes
/build/generated
/build/libs
/build/reports
/build/resources
/build/test-results
/build/tmp
build.gradle
gradlew
gradlew.bat
HELP.md
settings.gradle.idea